:root{
    --light:rgb(196, 214, 222);
    --dark:#8b959a;
}

@font-face {
    font-family: 'poppins';
    src: url(/asssets/fonts/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'poppins';
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(73,173,201);
    background: rgb(200,73,201);
    background: radial-gradient(circle, rgba(200,73,201,1) 14%, rgba(146,105,215,1) 26%, rgba(174,114,198,1) 62%, rgba(209,75,188,1) 94%);
}
.container{
    position: relative;

}

.container{
    margin: 0 auto;
    width: 400px;
    min-height: 90vh;
    border-radius: 2px;
    background: rgb(158,76,190);
    background: linear-gradient(0deg, rgba(158,76,190,1) 8%, rgba(212,115,185,1) 82%);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: rgb(251, 239, 239);
    padding: 30px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section{
    margin: -350px auto 0 auto;
 
}
.img-section img{
   /* background: url('/img/coverimg1.jpg') no-repeat; */
    width: 220px;
    height:220px;
    background-color: var(--ark);
    border-radius: 50%;
    display: block;
    margin: 450px auto 10px auto;
    background-size: cover;
    box-shadow: 1px -1px 40px 17px rgba(52, 198, 200, 0.6);
    
}

.img-section .imgduration{
    animation: rotate 20s  linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
/* top  menu */
.topmenu{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.wifi { 
    position: absolute;
    left: 40px;
    font-size: ;
    display: inline;
} 
strong{
    position: absolute;
    bottom: 0px;
    font-size: 1.8rem;
}
.subMenu{
    cursor: pointer;
    position: absolute;
    top:50px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.subMenu h2{
    cursor: none;
    font-family: ;
   }
   
.details{
  position: absolute;
  width: 90%;
  bottom: 12% ;
  /* left: 6%; */

}

/* the song slider styles */
.song_slider{
    width: 100%;
    margin: 20px 0;
    position: relative;
}
.title{
    text-align: center;
    text-transform: capitalize;
    margin: 40px auto;
    
}
.music_artist{
    font-size: 1rem;
}
.music_name h1{
    font-size: 2rem;
    margin: 0 !important;

}
.range-control{
    -webkit-appearance: none;
    width: 100%;
    height: 0.3rem;
    border-radius: 10px;
    background-color: var(--light);
    cursor: pointer;
    overflow: hidden;
    
}
.range-control:hover{
    height: 0.9rem;
}
.range-control::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background-color: rgb(209, 58, 58);
    box-shadow: -400px 0 0 400px #fff;
}

.controls div{
    cursor: pointer;
    color: #fff;

}
.current_time,.duration_time{
    font-size: 1rem;
}
.duration_time{
    position: absolute;
    right: 0;
}
.controls{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

    margin-top: 30px 0px;
    


}

/* footer styles */
.footer {
    position: absolute  ;
    width: 30%;
    bottom: 0px;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.footer span{
    padding: 0 40px;
}
.footer span i{

    cursor: pointer;
}
.footer span i:hover{
    color: red;

}
#Id100{
    position: absolute;
    right: 25px;

}

/* 
Resopnsev
//////////////////////////////////
//////////////////////////////
//////////////////////////////// */
@media (max-width:360px){
.container{
    margin: 0 auto;
    width: 400px;
    min-height: 100vh;
    border-radius: 2px;
    background: rgb(158,76,190);
    background: linear-gradient(0deg, rgba(158,76,190,1) 8%, rgba(212,115,185,1) 82%);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: rgb(251, 239, 239);
    padding: 30px;
}
}

@media (max-width: 600px){
 
.container{
    margin: 0 auto;
    width: 400px;
    min-height: 100vh;
    border-radius: 2px;
    background: rgb(158,76,190);
    background: linear-gradient(0deg, rgba(158,76,190,1) 8%, rgba(212,115,185,1) 82%);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: rgb(251, 239, 239);
    padding: 30px;
}   
}

@media (max-width:770px) {
    
.container{
    margin: 0 auto;
    width: 400px;
    min-height: 80vh;
    border-radius: 2px;
    background: rgb(158,76,190);
    background: linear-gradient(0deg, rgba(158,76,190,1) 8%, rgba(212,115,185,1) 82%);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    color: rgb(251, 239, 239);
    padding: 30px;
}
   
}
